* {
  padding: 0;
  margin: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  width: 50%;
}

/* Container HERO */
.container-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  padding: 0px 0px 20px 0px;
  width: 100%;
}

.form-input {
  background-color: #d4d4d8;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  order: 2;
}

.container-result {
  order: 1;
  background-color: #d4d4d8;
  width: max-content;
  padding: 40px 10px 10px 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  position: relative;
}

.button-close {
  border: 10px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.button-close:hover {
  background-color: #d4d4d8;
}

.label-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 20px;
  width: 100%;
}

.label-input input {
  padding: 5px 8px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 16px;
  background-color: white;
}

.label-input label {
  font-size: 16px;
}

.button-submit {
  width: 90px;
  background-color: #3b82f6;
  border: 1px solid gray;
  padding: 8px 10px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

/* RESULT */
.img-result {
  width: 100%;
  object-fit: cover;
  max-height: 18rem;
}

.div-data {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 300px;
}

img {
  transition: transform 0.2s ease; /* Animasi yang halus saat transformasi */
  width: 100%; /* Agar gambar memenuhi div */
  height: auto;
}

img:hover {
  transform: scale(1.25);
}

.div-image {
  overflow: hidden;
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .hero-section {
    width: 100%;
  }

  .container {
    padding: 0px 20px;
  }
}
